{% extends 'base.html.twig' %}

{% block title %}Edit Reponse{% endblock %}

{% block body %}    
    <div class="container">
        <h1 class="my-4">Edit Reponse</h1>

        {{ include('reponse_crud_controller/_form.html.twig', {'button_label': 'Update'}) }}

        <div class="d-flex justify-content-between mt-4">
            <a href="{{ path('app_reponse_crud_controller_index') }}" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Back to list</a>

            {{ include('reponse_crud_controller/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
