{% extends 'base.html.twig' %}

{% block title %}Edit Reponse{% endblock %}

{% block body %}
    <h1>Edit Reponse</h1>

    {{ include('reponse_crud_conroller/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reponse_crud_conroller_index') }}">back to list</a>

    {{ include('reponse_crud_conroller/_delete_form.html.twig') }}
{% endblock %}
