{% extends 'base.html.twig' %}

{% block title %}New Reponse{% endblock %}

{% block body %}
    <h1>Create new Reponse</h1>

    {{ include('reponse_crud_conroller/_form.html.twig') }}

    <a href="{{ path('app_reponse_crud_conroller_index') }}">back to list</a>
{% endblock %}
