{% extends 'base.html.twig' %}

{% block title %}Edit Questionnaire{% endblock %}

{% block body %}
    <h1>Edit Questionnaire</h1>

    {{ include('questionnaire_crud_controlleur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_questionnaire_crud_controlleur_index') }}">back to list</a>

    {{ include('questionnaire_crud_controlleur/_delete_form.html.twig') }}
{% endblock %}
