{% extends 'base.html.twig' %}

{% block title %}New Questionnaire{% endblock %}

{% block body %}
    <h1>Create new Questionnaire</h1>

    {{ include('questionnaire_crud_controlleur/_form.html.twig') }}

    <a href="{{ path('app_questionnaire_crud_controlleur_index') }}">back to list</a>
{% endblock %}
