{% extends 'base.html.twig' %}

{% block title %}New Questionnaire{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h1 class="text-center">Create new Questionnaire</h1>

                {{ include('questionnaire_crud_controlleur/_form.html.twig') }}

                <a href="{{ path('app_questionnaire_crud_controlleur_index') }}" class="btn btn-secondary mt-3">back to list</a>
            </div>
        </div>
    </div>
{% endblock %}
