<header class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
    <div class="container">
      <a class="navbar-brand p-0" href="#">
        <img src="/static/img/quizzup.png" width="100" height="100" class="d-inline-block align-top" alt="Logo Quizz'UP">
      </a>
      <h1 class="mx-auto">Quizz'UP</h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link fs-5" href="#">Connexion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-user"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  