{% extends 'base.html.twig' %}

{% block title %}Start Questionnaire{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center my-4">{{ questionnaire.nomQuestionnaire }}</h1>

        <div class="row justify-content-center">
            <div class="col-lg-8">
                {% for question in questionnaire.questions %}
                    <div class="card my-4">
                        <div class="card-header">{{ question.nomQuestion }}</div>
                        <div class="card-body">
                            {% set userAnswer = answeredQuestions[question.id]|default(null) %}
                            {% for reponse in question.reponses %}
                                {% if userAnswer and reponse.id == userAnswer.id %}
                                    <p class="mb-0 {% if reponse.estCorrect %}text-success{% else %}text-danger{% endif %}">Your answer: {{ reponse.nomReponse }}</p>
                                {% elseif reponse.estCorrect %}
                                    <p class="mb-0 text-success">Correct answer: {{ reponse.nomReponse }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
